.on {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-left: 30px;
  }


.tx{
    width:20%;
    margin-left:20px;
}

.cl{
    color: #4CAF50;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.cll{
    color: black;
    text-align: center;   
    

}

.b{
    text-align: center;
}
.fl{
    padding-top: 30px;
    margin-left: 60px;
}

.back{
    padding-top: 10px;
    background-color: grey;
    
}